<a class="item active" data-filter-type="all" {{action 'filterTasksList' 'all'}}>All <div class="floating ui label">{{countAll}}</div></a>
<a class="item" data-filter-type="todo" {{action 'filterTasksList' 'todo'}}>New <div class="floating ui blue label">{{countNew}}</div></a>
<a class="item" data-filter-type="done" {{action 'filterTasksList' 'done'}}>Done <div class="floating ui green label">{{countDone}}</div></a>
<a class="item" {{action 'deleteAllTasks'}}><i class="remove circle icon"></i>Delete all</a>
<a class="item" {{action 'deleteDoneTasks'}}><i class="check circle icon"></i>Delete done</a>
