<td width="5%" class="task-status" {{action 'toggleTaskStatus'}}>
  {{#if task.isCompleted}}
    <div class="ui green ribbon label">Done</div>
  {{else}}
    <div class="ui ribbon label">New</div>
  {{/if}}
</td>
<td>{{single-task-description description=task.description id=task.id}}</td>
<td width="10%" align="center">
  <div class="ui buttons">
    {{#if task.isCompleted}}
      <button class="ui small green button" {{action 'toggleTaskStatus'}}>Undone</button>
    {{else}}
      <button class="ui small button" {{action 'toggleTaskStatus'}}>Done</button>
    {{/if}}
    <div class="or"></div>
    <button class="ui red small button" {{action 'deleteSingleTask'}}>Delete</button>
  </div>
</td>
